In [1]:
s = "Anvay"

len(s)

5

In [2]:
print(s)

Anvay

In [6]:
def test():
    pass

In [7]:
test

In [8]:
def test():
    print("this is my first fun")
test()

this is my first fun

In [9]:
for i in range(10):
    test()

this is my first fun
this is my first fun
this is my first fun
this is my first fun
this is my first fun
this is my first fun
this is my first fun
this is my first fun
this is my first fun
this is my first fun

In [14]:
def test2(a,b):
    print(a,b) 
    
test2("anvay",7)

anvay 7

In [13]:
len()

TypeError: len() takes exactly one argument (0 given)

In [16]:
def test3(a,m,v,b,n):
    print(v,b,n,a)
test3(1,2,3,4,5)

3 4 5 1

In [19]:
def test4(b,y="Anvay"): ##Two arguments of the funtions and passing 
    print(b,y)
test4(57,"Awalgaonkar")

57 Awalgaonkar

In [24]:
def test5(b,v):
    """this is my own funtion
    7
    7
    7
    7
    7
    7
    7
    7
    7
    """
    print("mdmpdmapdm",b,v)
test5("anvay",7777)

mdmpdmapdm anvay 7777

In [26]:
def test7(a,t):
    print("Anvay")
test7("andy",7)

Anvay

In [27]:
type(test7("andy",7))

Anvay

NoneType

In [28]:
def test77():
    print("This is my function")
test77()

This is my function

In [30]:
str(test77())+ "Anvay"

This is my function

'NoneAnvay'

In [31]:
type(print("aaaa"))

aaaa

NoneType

In [32]:
def test55(a,b):
    return a
test55(45,"a")

45

In [33]:
type(test55(45,"a"))

int

In [36]:
test55(45,"a") +57

102

In [39]:
def test9(a,b):
    return a,b*a
test9(3,4)

(3, 12)

In [40]:
type(test9(3,4))

tuple

In [42]:
def test10(a,b):
    return a,b,a*b,a/b
test10(3,5)[2]

15

In [43]:
for i in test10(3,5):
    print(i)

3
5
15
0.6

In [44]:
test10(3,5)[0:3]

(3, 5, 15)

In [45]:
def test11(a,b):
    return a,b,a*b
test11("anvay",3)

('anvay', 3, 'anvayanvayanvay')

In [50]:
##Capture these in different variables

a=34
b=55
c=77
a,b,c=344,55,77 ##Exact the same thing will map the same thing.

_,_,_,=23,45,[1,1,1,1]
_   ##Underscore is placeholder:

[1, 1, 1, 1]

In [51]:
def test12(a,b,c):
    return a,b,c
test12(45,3,1)

(45, 3, 1)

In [53]:
m,p,q= test12(1,2,3)

In [54]:
test12(1,2,3)

(1, 2, 3)

In [55]:
m

1

In [56]:
q

3

In [57]:
p

2

In [58]:
p,q = test12(1,2,3)

ValueError: too many values to unpack (expected 2)

In [63]:
p,_,_= test12(1,2,3)

In [ ]:
##Return statement always return the data out of the function.
##Print always give none type:

In [65]:
def test13(b,n):
    """this is  function created by me
     this fun takes 2 arguments 
     this fun is going to *
     it will give you something as a return
    
    """
    c=b*n
    return c
test13("anvay",3)

'anvayanvayanvay'

In [66]:
def test14(b):
    c=[] 
    for i in b:
        c.append(i) 
    return c
test14(45)

TypeError: 'int' object is not iterable

In [69]:
def test14(b):
    c=[] 
    for i in b:
        c.append(i) 
    return c,c,c
test14([4,5,7])

([4, 5, 7], [4, 5, 7], [4, 5, 7])

In [68]:
test14(("anvay","a",45,45))

['anvay', 'a', 45, 45]

In [70]:
test14(("anvay","a",45,45))

(['anvay', 'a', 45, 45], ['anvay', 'a', 45, 45], ['anvay', 'a', 45, 45])

In [71]:
a = input ()

test14(a)

aaaaa

(['a', 'a', 'a', 'a', 'a'],
 ['a', 'a', 'a', 'a', 'a'],
 ['a', 'a', 'a', 'a', 'a'])

## Create a function which will take dict as a input and it will return a list of all the values if values are string

## Create a function which will take all the information from user like mailid, cell number , as input and return dictionary.

In [75]:

print("The Details of the employee are as follows:")
def info(dict(m = input("Please enter your employee id")) , dict(c= input("Please enter your cell number")):
t(info())

SyntaxError: invalid syntax (<ipython-input-75-e402ba1367a8>, line 2)

In [76]:

print("The Details of the employee are as follows:")
def info(dict(m = input("Please enter your employee id")) , dict(c= input("Please enter your cell number")):
t(info())

SyntaxError: invalid syntax (<ipython-input-76-39ec5364707e>, line 2)

In [78]:
##1st answer:

def d_l(a):
    """This is a function dict to list
    
    
    """
    l = []
    for i in a.values(): 
        if type(i)==str:
            l.append(i)
    return l
d_l({"a":123,"b":"anvay"})

['anvay']

In [85]:

def test17():
    a = input("Enter a Name ")
    b = input("Enter email id ") 
    c = input("Enter a Cell Number ")
    return {"a":a,"b":b,"c":c} 
test17()

Enter a Name Anvay
Enter email id arawalgaonkar@gmail.com
Enter a Cell Number 9834917277

{'a': 'Anvay', 'b': 'arawalgaonkar@gmail.com', 'c': '9834917277'}

In [84]:
a = [1,1,1,1]
b = [1,1,1,1,1,] 
list(zip(a,b))

[(1, 1), (1, 1), (1, 1), (1, 1)]